body {
    margin: auto;
    height: 100%;
     width: 100%;
  
}

.navbar {
    height: 90px;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -2px rgba(0,0,0,0.1);
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative; 
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: white;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%; 
}

.navbar ul li {
    list-style-type: none;
    margin-left: 30px;
    font-size: 20px;
}

.navbar ul li {
    transition: transform 0.3s ease; 
}

.navbar ul li:hover {
    transform: scale(1.2); 
}


.navbar ul li a {
    font-size: 25px;
    color: rgb(5, 99, 206);
    text-decoration: none;
    transition: color 0.3s;
    display: block; 
    position: relative; 
}

.navbar img {
    padding: 15px;
    width: 150px;
    height: 45px;
}

.card {
    padding: 100px;
    display: flex;
    justify-content: center;
    margin: 50px;
    flex-direction: row;
}

.card img {
    margin-right: 30px;
    border-radius: 15px;
    width: 650px;
    height: 500px;
}

.card h1 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 80px;
    margin-top: 0;
    color:rgb(0, 140, 255);
    margin-right: 25px;
}

.card p {
    margin-right: 25px;
    font-family: "Varela Round", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;  
}

.completeShop {
    display: flex;
    flex-direction: row;
}

.filter-section {
    margin: 50px;
    width: 250px;
    height: 230px;
    margin: 20px;
    padding: 20px;
    border: 3.5px solid #0badec;
    border-radius: 15px;
}

.filter-section h1 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-top: 0;
}

.filter-option {
    margin: 10px 0;
}


.filter-option {
    display: flex;
    font-family: "Varela Round", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;  
}




.shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridShop {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    padding: 10px;
}

.shopCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 350px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -2px rgba(0,0,0,0.1);
    border-radius: 15px;
    margin: 20px;
    background-color: white;
}

.shopCard img {
    padding: 10px;
    width: 150px;
    height: 150px;
    background-color: white;
}

.shopCard h1 {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
}

.shopCard button {
    width: 130px;
    height: 28px;
    margin-left: 5px;
    border-radius: 20px;
    border: 3px solid rgb(0, 116, 248);
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    background: white;
    cursor: pointer;
    margin: 5px;
}

.advertisement {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 20px;

}

.advertisement img {
    width: 700px; 
    height: 250px; 
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    color: #FFFFFF; 
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.advertisement h1,h3 {
    font-family: "Outfit", sans-serif;
}

.contact-header {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    padding-left: 10px;
}

.contactForm {
    width: 600px;
}

.contactForm div {
    display:  flex;
    flex-direction: column;
}