body {
    margin: auto;
    height: 100%;
     width: 100%;
  
}

.navbar {
    height: 90px;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -2px rgba(0,0,0,0.1);
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative; 
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: white;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%; 
}

.navbar ul li {
    list-style-type: none;
    margin-left: 30px;
    font-size: 20px;
}

.navbar ul li {
    transition: transform 0.3s ease; 
}

.navbar ul li:hover {
    transform: scale(1.2); 
}


.navbar ul li a {
    font-size: 25px;
    color: rgb(5, 99, 206);
    text-decoration: none;
    transition: color 0.3s;
    display: block; 
    position: relative; 
}

.navbar img {
    padding: 15px;
    width: 150px;
    height: 45px;
}

.card {
    padding: 100px;
    display: flex;
    justify-content: center;
    
    flex-direction: row;
}

.card img {
    margin-right: 30px;
    border-radius: 15px;
    width: 650px;
    height: 500px;
}

.card h1 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 80px;
    margin-top: 0;
    color:rgb(0, 140, 255);
}

.card p {
    font-family: "Varela Round", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;  
}

